.tkt {
    background-image: url(..//img/theme_dofus.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.65);
        text-align: center;
        padding-left: 5rem;
        padding-right: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        border-radius: 100px;
      }

}


                                  // Partie project // 


.home {
    width: 100px;
    margin-left: 2rem;
    border-radius: 10px;
}

.article1 {
    img {
        width: 1225px;
        height: 565px;
        margin-left: 150px;
    }
}

.article2 {
    img {
        width: 1225px;
        height: 565px;
        margin-left: 150px;
    }
}

.article3 {
    img {
        width: 1225px;
        height: 565px;
        margin-left: 150px;
    }
}