@use "../abstract/variable" as var;

#debut {

.nav_index{
    display: flex;
    position: absolute;
    background-color: black;
    width: 250px;
    height: 100vh;
    left: 0;
    top: 0;
    
}

ul li {
    text-align: center;
    margin-top: 50px;
    font-size: 32px;
    border-bottom: solid grey;
    padding-bottom: 35px;
    width: 250px;

    a {
      color: rgb(255, 255, 255);
      display: block;
      
    }

}

ul li a:hover {
  transform: scale(1.2);
  color: #19F2E7;
  transition: font-size 0.3s ease; /* Effet de transition fluide */
}


.logo {
    width: 250px;

}

.logoreso{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

.logoreso a i {
  color: white;
  padding: 10px;
  font-size: 30px; /* Taille des icônes */
  transition: font-size 0.3s ease; /* Effet de transition fluide */
}


.logoreso a:hover i {
  font-size: 35px; /* Taille des icônes au survol */
  color: #0077b5; /* Changer la couleur au survol (ex: LinkedIn Blue) */
}

.logoreso a:hover .fa-youtube{
  font-size: 35px;
  color: #ff0000; 
}

.logoreso a:hover .fa-linkedin-in{
  font-size: 35px;
  color: #ca1d88; 
}


.haut-footer ul li a:hover{
  transition: font-size 0.4s ease; /* Effet de transition fluide */
  font-size: 21px; /* Taille des icônes au survol */
  background-color: #E7816B;
  color: black;
}


  .saut {
    display: block;
  }

  @media screen and (max-width: 806px) {

    .nav_index {
      width: 150px;
    }

    nav {
      width: 150px;
      height: 100vh;
      
    }
    .logo {
      width: 150px;
  
    }
    ul li {
      text-align: center;
      margin-top: 50px;
      font-size: 16px;
      border-bottom: solid grey;
      padding-bottom: 35px;   
      width: 150px;    
    }
  }
}

                                    // Partie project // 


 .h1_project {
  transform: translateX(180px);
 }


.nav2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;

  
}

.ul_project {
  display: flex;
  margin-right: 2rem;

  li {
    padding: 50px;
    border-left: solid white 1px;
    
  
  }
}

























// .fa-bars{

// }

// ul{

// }

// ul li {

// }

// @media screen and (max-width:700px) {
//     .fa-bars{
//         display: block;
//         margin-left: 1rem;
//     }
//     ul{
//         display: none;
//     }

//     .menu-dropdown:hover ul{
//         display: block;
//         position: absolute;
//         top: 5rem;
//         left: 1rem;
//         background-color: bisque;
//         color: black;
//     }
// }

