@use "../abstract/variable" as var;

// header{
    
// }

nav{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

nav .fa-bars{
    display: none;
}

ul{
    display: flex;
    margin-right: 25px;
    cursor: pointer;
}

ul li{
    padding: 18px;
}


.navbar ul li a:hover{
    transition: font-size 0.4s ease;
    font-size: 20px; 
    color: #ffffff; 
    background-color: black;
}


@media screen and (max-width: 700px) {



    nav .fa-bars{
        display: block;
        margin-right: 2rem;
        font-size: 30px;
        margin-top: 1rem;
    }

    ul{
        display:none;
    }

    .menu_dropdown:hover ul{
        display:block;
        position: absolute;
        top:2rem ;
        left:0rem;
        background-color: black;
        color:white;
    }

    ul li{
        padding: 1rem;
    }

}


























// .fa-bars{

// }

// ul{

// }

// ul li {

// }

// @media screen and (max-width:700px) {
//     .fa-bars{
//         display: block;
//         margin-left: 1rem;
//     }
//     ul{
//         display: none;
//     }

//     .menu-dropdown:hover ul{
//         display: block;
//         position: absolute;
//         top: 5rem;
//         left: 1rem;
//         background-color: bisque;
//         color: black;
//     }
// }

