@use "../abstract/variable" as var;

// header{
    
// }

nav{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;   
}

ul{
    display: flex;
    margin-right: 25px;
    cursor: pointer;
}

ul li{
    padding: 18px;
}


.navbar ul li a:hover{
    transition: font-size 0.4s ease; /* Effet de transition fluide */
    font-size: 20px; /* Taille des icônes au survol */
    color: #ffffff; /* Changer la couleur au survol (ex: LinkedIn Blue) */
    background-color: black;
}



























// .fa-bars{

// }

// ul{

// }

// ul li {

// }

// @media screen and (max-width:700px) {
//     .fa-bars{
//         display: block;
//         margin-left: 1rem;
//     }
//     ul{
//         display: none;
//     }

//     .menu-dropdown:hover ul{
//         display: block;
//         position: absolute;
//         top: 5rem;
//         left: 1rem;
//         background-color: bisque;
//         color: black;
//     }
// }

