@charset "UTF-8";
@font-face {
  font-family: "Lato";
  src: url(../font/Lato-Regular.ttf);
}
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: "Lato";
}

.logo {
  width: 150px;
  background-size: cover;
  background-position: center;
  margin-left: 5%;
}

.ecrant {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  object-fit: cover;
  background-size: contain;
  height: 100%;
  padding-left: 35%;
}

.overlay {
  position: absolute;
  border-radius: 25px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Couleur noire avec opacité de 50% */
  z-index: 1; /* Placer l'overlay au-dessus de l'image */
}

.service-gauche {
  filter: brightness(90%);
  width: 45%;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/homme-assis-batiment.jpg);
  color: white;
  border-radius: 25px;
  margin-right: 5px;
  background-size: cover;
  background-position: center;
}

.service-droite {
  width: 50%;
  height: 450px;
}

.service-haut {
  filter: brightness(90%);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/passport.jpg);
  border-radius: 25px;
  margin-bottom: 5px;
  color: white;
  background-size: cover;
  background-position: center;
}

.service-bas {
  filter: brightness(90%);
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(../img/montgolfiere.jpg);
  border-radius: 25px;
  color: white;
  background-size: cover;
  background-position: center;
}

.logo2 {
  width: 20%;
  background-size: cover;
  background-position: center;
  margin-left: 3%;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .fa-bars {
  display: none;
}

ul {
  display: flex;
  margin-right: 25px;
  cursor: pointer;
}

ul li {
  padding: 18px;
}

.navbar ul li a:hover {
  transition: font-size 0.4s ease;
  font-size: 20px;
  color: #ffffff;
  background-color: black;
}

@media screen and (max-width: 700px) {
  nav .fa-bars {
    display: block;
    margin-right: 2rem;
    font-size: 30px;
    margin-top: 1rem;
  }
  ul {
    display: none;
  }
  .menu_dropdown:hover ul {
    display: block;
    position: absolute;
    top: 2rem;
    left: 0rem;
    background-color: black;
    color: white;
  }
  ul li {
    padding: 1rem;
  }
}
.saut {
  display: block;
}

.oorange {
  color: #E7816B;
}

.vue-tel {
  color: white;
  background-color: #E7816B;
  display: flex;
  flex-direction: row;
  margin-left: 5%;
  margin-right: 3%;
  margin-top: 50px;
  border-radius: 5px;
  height: 300px;
}

.bloc-tel {
  overflow: hidden;
  width: 50%;
}

.bloc1 {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-left: 25px;
}

h1 {
  margin-top: 50px;
  margin-bottom: 25px;
}

.bouton {
  display: flex;
  margin-top: 25px;
  color: black;
  background-color: white;
  width: 135px;
  text-align: center;
  justify-content: center;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  transition: font-size 0.3s ease;
}

.bloc1 a:hover {
  color: #ffffff;
  background-color: black;
}

h3 {
  font-size: 35px;
  z-index: 2;
}

h2 {
  margin-left: 5%;
}

.solo {
  margin-top: 50px;
  font-size: 50px;
}

.container-services {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-left: 5%;
}

.container-services p {
  color: white;
}

.service-bas p:hover {
  color: #ff8800;
  cursor: pointer;
}

.end {
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin: 2%;
}

.container-article {
  display: flex;
  flex-direction: row;
  background-image: url(/assets/img/wave.svg);
  width: 100%;
}

.container-article i {
  font-size: 80px;
  color: #E7816B;
}

.h3article {
  margin-bottom: 10px;
  margin-top: 10px;
}

.article-id {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 90px;
  margin-left: 100px;
}

.article-bus {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 90px;
}

.article-sleep {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-right: 100px;
}

.lorem-gauche {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 5%;
  margin-left: 3%;
}

.lorem-gauche p {
  color: rgb(255, 255, 255);
  padding-top: 10px;
}

#lorem-btn {
  font-size: 24px;
}

@media screen and (max-width: 864px) {
  .container-article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .article-bus {
    margin-left: 90px;
    margin-right: 100px;
  }
  .article-sleep {
    margin-left: 90px;
    margin-right: 100px;
  }
  .orange {
    padding-top: 0px;
  }
}
@media screen and (max-width: 720px) {
  .center-bouton {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bouton2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }
  .orange {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .travel {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .marg {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 700px) {
  .ecrant {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    padding-top: 10px;
    background-size: cover;
    padding-left: 10px;
  }
}
@media screen and (max-width: 550px) {
  .ecrant {
    display: none;
  }
  .bloc-tel {
    display: none;
  }
  .bloc1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.fond-gris {
  background-color: #F5F5F5;
  width: 100%;
  height: 70px;
  padding-bottom: 100px;
}

.footer {
  background-color: black;
  color: white;
}

.bouton2 {
  display: flex;
  color: black;
  background-color: white;
  width: 135px;
  justify-content: center;
  padding: 2px;
  border-radius: 3px;
  box-shadow: 2px 1px 10px rgba(0, 0, 0, 0.3);
}

.orange {
  display: flex;
  color: white;
  background-color: #E7816B;
  margin-left: 5%;
  margin-right: 3%;
  border-radius: 5px;
  transform: translateY(-80px);
  padding-bottom: 50px;
}

.orange a:hover {
  color: #ffffff; /* Changer la couleur au survol (ex: LinkedIn Blue) */
  background-color: black;
}

.center-bouton {
  display: flex;
  align-items: center;
  margin-top: 5%;
  margin-left: 20%;
}

.haut-footer {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px gray;
  padding-bottom: 30px;
  transition: font-size 0.3s ease; /* Effet de transition fluide */
  font-size: 20px;
  color: rgba(255, 255, 255, 0.5);
}

.travel {
  display: flex;
  justify-content: space-around;
  padding-bottom: 35px;
  margin-top: 55px;
}

.logoreso {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoreso a i {
  color: white;
  padding: 10px;
  font-size: 30px; /* Taille des icônes */
  transition: font-size 0.3s ease; /* Effet de transition fluide */
}

.logoreso a:hover i {
  font-size: 35px; /* Taille des icônes au survol */
  color: #0077b5; /* Changer la couleur au survol (ex: LinkedIn Blue) */
}

.logoreso a:hover .fa-youtube {
  font-size: 35px;
  color: #ff0000;
}

.logoreso a:hover .fa-linkedin-in {
  font-size: 35px;
  color: #ca1d88;
}

.haut-footer ul li a:hover {
  transition: font-size 0.4s ease; /* Effet de transition fluide */
  font-size: 21px; /* Taille des icônes au survol */
  background-color: #E7816B;
  color: black;
}

@media screen and (max-width: 864px) {
  .haut-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo2 {
    margin-left: 0px;
  }
  .haut-footer ul {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}

/*# sourceMappingURL=style.css.map */
